html, body {
  margin: 0;
  padding: 0;
  background-color: gray;
  text-align: center;
}

.listOfImplementations ul {
  width: auto !important;
  list-style-position: outside;
}

.listOfImplementations ul li {
  width: auto !important;
}

.listOfImplementations {
  width: 14vw;
  margin: 0 auto;
}

h1 {
  color: green;
}
